@import './App.scss';

.App {
  text-align: center;
}

.githubIssues {
  padding: 10px;
}
.appHeader {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  line-height: 150px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 50% 30% 10% 8%;
  grid-gap: 5px;
  padding: 5px;
}

.filterContainer {
  display: grid;
  grid-template-columns: 50% 30% 10% 8%;
  grid-auto-rows: auto;
  grid-gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.gridItem {
  text-align: left;
  min-width: 0;
  min-height: 0;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
  padding: 10px;
  background-color: $itemBackgroundColor;
  font-size: $issuesFontSize;
}

.lastItem {
  margin-right: 5px;
}

.App-intro {
  font-size: large;
}

.issuesLabel {
  min-width: 0;
  min-height: 0;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}
.issueslabelContainer {
  background-color: $itemBackgroundColor;
}

.filterDropdownContainer {
  width: 100%;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 1px 1px 11px #330033;
  background: #4040bf no-repeat scroll 250px center;
}

.filterDropdown {
  border: 0;
  color: #EEE;
  background: transparent;
  font-size: $issuesFontSize;
  font-weight: bold;
  padding-left: 5px;
  line-height: 50px;
  width: 100%;
  *width: 100%;
  *background: #4040bf;
  -webkit-appearance: none;
}

.gridTitle {
  background-color: #7575a3;
}

.resetButton {
  font-size: $issuesFontSize;
  background-color: #1f1f2e;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
